.App {
  background-image: url("img/11.jpeg");
  background-repeat: no-repeat;
  background-color: rgba(49, 18, 95, 0.925);
  background-size: cover;
  color: rgba(219, 219, 219, 0.957);
}

.App footer {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  color: rgb(168, 167, 167);
  font-size: 12px;
}

.App footer a {
  text-decoration: none;
  color: #396692;
}
