.Weather article {
  width: 35%;
  margin: 100px 45% 0 auto;
  background-color: rgb(37, 1, 67);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(60, 60, 60, 0.612);
}

.Weather form {
  margin-top: 25px;
  margin-bottom: 20px;
}

.Weather .search-button,
.search-input {
  font-size: 15px;
  padding: 6px 10px;
}
