.WeatherInfo .city-info h1 {
  margin: 15px 0 0 15px;
}

.WeatherInfo .city-info p {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.WeatherInfo .weather-data ul {
  list-style: none;
  padding-left: 15px;
  padding-top: 40px;
}

.WeatherInfo .weather-display img {
  width: 88px;
  position: relative;
  float: left;
}

.WeatherInfo .description {
  font-size: 12px;
  position: relative;
  left: 70%;
  bottom: 15px;
}
