.WeatherForecast {
  text-align: center;
  padding: 20px 0px;
  border-top: 1px solid rgba(128, 128, 128, 0.515);
  margin-top: 20px;
}

.WeatherForecast img {
  width: 66px;
}
.WeatherForecast .forecast-max-temp {
  color: white;
  margin-right: 5px;
}

.grid {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
